.sndbtn {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}
.snd {
  width: 100%;
}
.bgrico {
  background-position: 0% 40%;
  background-size: auto;
}
.bgtony {
  background-position: 0% 40%;
  background-size: auto;
}
